<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    html {
      font-family: monospace;
    }

    .red {
      color: red;
    }

    .blue {
      color: blue;
    }
  </style>
</head>
<body>
  <div>
    <a href="/">default</a>
    <a href="/last-modified/">last-modified</a>
    <a href="/expires/">expires</a>
    <a href="/etag/">etag</a>
    <a href="/max-age-60/">max-age-60</a>
    <a href="/max-age-600/">max-age-600</a>
    <a href="/no-cache/">no-cache</a>
    <a href="/no-store/">no-store</a>
  </div>
  <div>
    <span>Cache-Type</span>
    <span id="type"><%= htmlWebpackPlugin.options.title %></span>
  </div>
  <div>
    <span>Cached Time: </span>
    <span id="cache-time"><%= htmlWebpackPlugin.options.buildTime %></span>
  </div>
  <div>
    <span>Deploy Time: </span>
    <span id="deploy-time"></span>
  </div>
  <div>
    <span>Run   Time: </span>
    <span id="run-time"></span>
  </div>
  <div>
    <span>Now   Time: </span>
    <span id="current-time"></span>
  </div>
</body>
</html>
